.formss {
  display: flex;
  background-color: #86AABE;
  color: #fff;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.8);
  margin-top: 20px;
  margin-left: 39%;
  margin-bottom: 10px;
  justify-content: center;
  width: 300px;
  height: 400px;
  padding: 3.125em;
  border-radius: 10px;
  align-items: center;
}


label {
  
}

input {
 
}