.logo {
  display: flex;
  /* Define que o elemento usará flexbox, permitindo organizar seus conteúdos em linha ou coluna de maneira eficiente. */
  width: 200px;
  /* Define a largura do elemento como 80px. */
  }


.logoimg {
  max-width: 150px;
  max-height: 150px;
  }

.menu {
  position: absolute;
  display: flex;
  background-color: transparent;
  width: 100%;
  justify-content: space-around;
  }


.menu div:hover {
  cursor: pointer;
}

.navegacao {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: first baseline;
  list-style: none;
  gap: 3rem;
  padding-top: 5px;

}

.navegacao a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 10px;
  }

.navegacao li {
  flex: 1;
  text-align: center;
  
}