:root {
  --primeira: #BE9A86;
  --segunda: #86BE9A;
  --terceira: #9A86BE;
  --quarta: #86AABE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  border: 1px solid black;
  
  
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  background: white;
  background: radial-gradient(125% 125% at 50% 10%, #fff 40%, #63e 100%);
  border: 1px solid black;
}



